{% extends 'base.html' %}
{% block content %}
    <h2>ma page de contact</h2>

    {% if succes_msg %}
        <p> {{succes_msg}} </p>
    {% endif %}

    <form>
        {% csrf_token %}
        {% if form.non_field_error %}
            <div>
                {% for error in form.non_field_error %}
                    <p> {{error}} </p>
                {% endfor %}
            </div>
        {% endif %}

        {{form.as_p}}

        <button type="submit">Soumettre</button>

    </form>

{% endblock %}