{% extends "base.html" %}

{% block title %}
    {{article.titre}}
{% endblock title %}

{% block content %}   
<h1> {{article.titre}} </h1>
<hr/> 

<div>
    {{article.contenu | linebreaksbr}}
    <hr/>
    <small>
        Par <b>{{ article.auteur.username }}</b> - 
        le {{article.date_de_creation}}
        {% if date_de_creation != date_mise_a_jour %}
          -  Deniere modification le {{article.date_mise_a_jour}}
        {% endif %}
    </small>
    <hr/>
</div>
<hr/>
{% if user.is_authenticated and user == article.auteur %}
    <a href="{% url "modifier" pk= article.pk %}">Modifier l'article</a>
    <a href="{% url "supprimer" pk=article.pk %}">Supprimer l'article</a>
{% endif %}


{% endblock content %}